<form action="" [formGroup]="employeeform">
    
    <br>
    <label for="">name:</label>
    <input type="text"  formControlName="name">
    <br>
    <label for="">company:</label>
    <input type="text"  formControlName="company">
    <br>
    <label for="">role:</label>
    <input type="text"  formControlName="role">
    <br>
    <label for="">package:</label>
    <input type="number"  formControlName="package">
    <br>
    <label for="">email:</label>
    <input type="email"  formControlName="email">
    <br>
    <label for="">dob:</label>
    <input type="date" formControlName="dob">
    <div formGroupName="address">
        <label for="">addressLine:</label>
        <input type="text" formControlName="addressLine">
        <br>
        <label for="">city:</label>
        <input type="text" formControlName="city">
        <br>
        <label for="">state:</label>
        <input type="text" formControlName="state">
        <br>
        <label for="">pincode:</label>
        <input type="number" formControlName="pincode">
        <br>

    </div>
    <label for="">Gender:</label>
    <input type="radio" formControlName="gender" name="gender" value="male">
    <label for="">Male</label>
    <input type="radio" formControlName="gender" name="gender" value="female">
    <label for="">Female</label>
    <br>
    <label for="">WorkMode:</label>
    <input type="radio" formControlName="workMode" name="work" value="WorkFromOffice">
    <label for="">WorkFromOffice</label>
    <input type="radio" formControlName="workMode" name="work" value="remote">
    <label for="">remote</label>
    <div *ngIf="employeeform.get('workMode')?.value=='WorkFromOffice'">
        <label for="">travel fee:</label>
        <input type="number" formcontrolName="travelfee">
        <br>
    </div>
    <div *ngIf="employeeform.get('workMode')?.value=='remote'">
        <label for="">wifi bill:</label>
        <input type="number" formControlName="wifibill">

    </div>
    <br>

    <label for="">hikes:</label>
    <button (click)="addhike()">add hike</button>
    <div formArrayName="hikes">
        <div *ngFor="let hike of hikesFormArray.controls;let i=index">
            <div formGroupName="{{i}}">
                <label for="">year:</label>
                <input type="number" formControlName="year">
                <br>
                <label for="">percentage:</label>
                <input type="number" formControlName="percentage">
                <br>
                <button  class="btn btn-danger" (click)="deletecard(i)">delete</button>


            </div>
        </div>
    </div>

    <br>
    <button (click)="submit()" class="btn btn-primary">submit</button>
</form>
