.main{
    width: 100vw;
    height:100vh;
    margin: 0;
    display: flex;
}
.left{
    height: 100%;
    width:20%;
    background-color:black;
    color: white;
    padding: 20px;

}
.right{
    width:80%;
    background-color: aliceblue;
    overflow: auto;
    padding: 10px;
}